body{
    
   background-color: aqua; 
}

.head{
      text-align: center;
      font-size: 45px;
      margin-top: 20px ;
     height: 99px;
}

.container{
    
}

.heading{
    height: 32px;
}

.footer{
    margin-top: 500px;
    margin-left: 900px;
  
    font-size: larger;
}